<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span></div>
</div>
<!-- end nav -->
<!-- Main Container -->
<section class="content-wrapper bounceInUp animated">
    <div class="container">
        <div class="std">
            <div class="page-not-found">
                <h2>404</h2>

                <h3><img src="/static/angular/assets/images/signal.png" alt="error image">Oops! The Page you
                    requested was not found!</h3>

                <div><a href="#/home" class="btn-home"><span>Back To Home</span></a></div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->