<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>ABOUT US</h2>
                </div>
                <div class="panel-group accordion-faq">


                    <div class="panel">

                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Indian art has been influenced by religious beliefs and
                                philosophical trends over time. Traditional and customary practices are an important
                                part of Indian culture. Our country, as it stands now is a beautiful amalgam of
                                various cultural practices and boasts a diverse cultural and ethnic demography.
                                We at Urban Urn, aim at giving an online presence to artisans who are colored in their
                                cultural heritage. We provide them with an online marketplace where in they can not only
                                showcase their talent but also play their part in promoting the rich and diversified
                                cultural heritage in the form of art works, handicrafts, handlooms and other traditional
                                work forms passed
                                across generations.</p>

                                <p>The glamour of a modern way of life with its glorification of material prosperity has
                                    dazzled our eyes and somewhere in our busy schedules we have missed the path to our
                                    old traditions and culture.</p>
                                </p>Through UrbanUrn, let’s stay rooted in tradition!!</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

