<!--
Theme by: WebThemez.com 
Note: Please use our back link in your site (webthemez.com)
-->
<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]--> 
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]--> 
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]--> 
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]--> 
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Urban Urn - Coming Soon!</title>
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold"> 
<link rel="stylesheet" type="text/css" href="/static/angular/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/angular/css/styles.css">
</head>

<body id="home">
<section class="main">
<div id="Content" class="wrapper topSection">
	<div id="Header">
	<div class="wrapper">
		<div class="logo"><img src="/static/angular/assets/images/logo1.png" />	</div>
		</div>
	</div>
	<h2>We are currently working on something awesome. Stay tuned!</h2> 	
<div class="countdown styled"></div>
</div>
</section>
<section class="subscribe spacing">
<div class="container">
<div id="subscribe">
	<h3>Vendors can Contact Us Here..</h3>

	<div id="socialIcons">
		<ul> 
			<li><a href="" title="Twitter" class="twitterIcon"></a></li>
			<li><a href="" title="facebook" class="facebookIcon"></a></li>
			<li><a href="" title="linkedIn" class="linkedInIcon"></a></li>
			<li><a href="" title="Pintrest" class="pintrestIcon"></a></li>
		</ul>
	</div>
	</div>
</div>
</section>

<section class="features spacing">
  <div class="container">
    <h2 class="text-center">About Us</h2>
    <p><center>Handicrafts ecommerce</center></p>
            
    
  </div>
</section>
<span class="tempBy">&copy; 2015 Urban Urn. All Rights Reserved.</span>

<!--Scripts-->
<script type="text/javascript" src="/static/angular/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/angular/assets/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/static/angular/assets/js/global.js"></script>

</body>
</html>
