<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>CONTACT US</h2>
                </div>
                <div class="panel-group accordion-faq">


                    <div class="panel">
                        <div class="panel-heading"><p><b>Vendor Enquires</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Want to help us set up an online marketplace for you through
                                Urban Urn? Feel free to contact us at sell@urbanurn.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><p><b>Wholesale/Bulk/Corporate Enquires</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>For Bulk orders or corporate enquiries, write at
                                us at corporate@urbanurn.com. Let us know the product that you are looking for and we
                                will get back to you with a quotation.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><p><b>Customer Enquiries</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Please feel free to reach out to us at customercare@urbanurn.com
                                We are also available @ +91 9618 236 502 from 9 am to 6 pm (Monday - Friday)</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

