 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- end nav --> 
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <ul>
        <li class="home"> <a title="Go to Home Page" href="http://www.magikcommerce.com/">Home</a><span>&mdash;›</span></li>
        <li class="category13"><strong>About Us</strong></li>
      </ul>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-right-layout wow bounceInUp animated">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9">
        <div class="page-title">
          <h2>Contact Us</h2>
        </div>
        <div class="static-contain">
          <fieldset class="group-select">
            <ul>
              <li id="billing-new-address-form">
                <fieldset>
                  <legend>New Address</legend>
                  <input type="hidden" name="billing[address_id]" id="billing:address_id">
                  <ul>
                    <li>
                      <div class="customer-name">
                        <div class="input-box name-firstname">
                          <label for="billing:firstname"> First Name<span class="required">*</span></label>
                          <br>
                          <input type="text" id="billing:firstname" name="billing[firstname]" title="First Name" class="input-text ">
                        </div>
                        <div class="input-box name-lastname">
                          <label for="billing:lastname"> Email Address <span class="required">*</span> </label>
                          <br>
                          <input type="text" id="billing:lastname" name="billing[lastname]" title="Last Name" class="input-text">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="input-box">
                        <label for="billing:company">Company</label>
                        <br>
                        <input type="text" id="billing:company" name="billing[company]" title="Company" class="input-text">
                      </div>
                      <div class="input-box">
                        <label for="billing:email">Telephone <span class="required">*</span></label>
                        <br>
                        <input type="text" name="billing[email]" id="billing:email" title="Email Address" class="input-text">
                      </div>
                    </li>
                    <li>
                      <label>Address <span class="required">*</span></label>
                      <br>
                      <input type="text" title="Street Address" name="billing[street][]" class="input-text">
                    </li>
                    <li>
                      <input type="text" title="Street Address 2" name="billing[street][]" class="input-text">
                    </li>
                    <li class="">
                      <label for="comment">Comment<em class="required">*</em></label>
                      <br>
                      <div style="float:none" class="">
                        <textarea name="comment" id="comment" title="Comment" class="input-text" cols="5" rows="3"></textarea>
                      </div>
                    </li>
                  </ul>
                </fieldset>
              </li>
              <li><span class="require"><em class="required">* </em>Required Fields</span>
              <div class="buttons-set">
                <button type="submit" title="Submit" class="button submit"> <span> Submit </span> </button>
              </div></li>
            </ul>
          </fieldset>
        </div>
      </section>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-company">
          <div class="block-title">Company </div>
          <div class="block-content">
            <ol id="recently-viewed-items">
              <li class="item odd"><a href="#/about_us">About Us</a></li>
              
              <li class="item  odd"><a href="#">Terms of Service</a></li>
              <li class="item even"><a href="#">Search Terms</a></li>
              <li class="item last"><strong>Contact Us</strong></li>
            </ol>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<!-- Main Container End -->

 <div class="top-banner-section wow bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col add-banner1">
          <div class="top-b-text"><strong>Designer Shoes</strong> For Women</div></div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col free-shipping"><strong>Free Shipping</strong> on order over $199</div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="col add-banner2">
          <div class="top-b-text"><strong>Luxury Handbags</strong>2015 New Arrive</div>
          </div>
                  
          
          
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col last offer"><strong>New Collection</strong> Lorem ipsum dolor.</div>
        </div>
      </div>
    </div>
  </div>
 <!-- end banner section -->
  <div class="brand-logo">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6">
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
          </div>
        </div>
      </div>
    </div>
  </div>