 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- end nav --> 
<!-- Main Container -->
<section class="main-container col2-right-layout wow bounceInUp animated">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9">
        <div class="my-account">
          <div class="page-title">
            <h2>My Dashboard</h2>
          </div>
          <div class="dashboard">
            <div class="welcome-msg"> <strong>Hello, {{user.first_name }} {{ user.last_name }}!</strong>
              <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
            </div>
            <div class="box-account">
              <div class="page-title">
                <h2>Account Information</h2>
              </div>
              <div class="col2-set">
                <div class="col-1">
                  <h5>Contact Information</h5>
                  <a href="#">Edit</a>
                  <p> pranali deshmukh<br>
                    pranalid15@gmail.com<br>
                    <a href="#">Change Password</a> </p>
                </div>
                <!-- div class="col-2">
                  <h5>Newsletters</h5>
                  <a href="#">Edit</a>
                  <p> You are currently not subscribed to any newsletter. </p>
                </div-->
              </div>
              <div class="col2-set">
                <h4>Address Book</h4>
                <div class="manage_add"><a href="#">Manage Addresses</a> </div>
                <div class="col-1">
                  <h5>Primary Billing Address</h5>
                  <address>
                  pranali d<br>
                  aundh<br>
                  tyyrt,  Alabama, 46532<br>
                  United States<br>
                  T: 454541 <br>
                  <a href="#">Edit Address</a>
                  </address>
                </div>
                <div class="col-2">
                  <h5>Primary Shipping Address</h5>
                  <address>
                  pranali d<br>
                  aundh<br>
                  tyyrt,  Alabama, 46532<br>
                  United States<br>
                  T: 454541 <br>
                  <a href="#">Edit Address</a>
                  </address>
                </div>
              </div>
            </div>
            <div class="box-account" id="myOrders">
              <div class="page-title">
                <h2>My Orders</h2>
              </div>
              <div class="recent-orders">
              <div class="title-buttons"><strong>Recent Orders</strong> <a href ng-show="orderData" ng-click="toggleOrders()">View All </a> </div>
              <div ng-show="!orderData"> <span> You have not placed any orders yet !! </span></div>
              <div class="table-responsive" ng-show="orderData">
                <table class="data-table" id="my-orders-table">

                  <thead>
                    <tr class="first last">
                      <th>Order #</th>
                      <th>Date</th>
                      <th>Ship to</th>
                      <th><span class="nobr">Order Total</span></th>
                      <th>Status</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="order in orderData">
                    <tr class="first odd" ng-show="$index < noOfOrders ">
                      <td>{{ order.id }}</td>
                      <td>{{order.created_on }} </td>
                      <td>{{ user.first_name }} {{ user.last_name }}</td>
                      <td><span class="price"> ₹{{ order.final_cost }}</span></td>
                      <td><em>{{ order.statusText }}</em></td>
                      <td class="a-center last"><span class="nobr" ng-click="navigateToOrders(order)"> <a href>View Order</a> <span class="separator" ng-hide = "true">|</span> <a href="#" ng-hide = "true">Reorder</a> </span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-account">
          <div class="block-title">My Account</div>
          <div class="block-content">
            <ul>
              <li class="current"><a>Account Dashboard</a></li>
              <li><a href>Account Information</a></li>
              <li><a href>Address Book</a></li>
              <li><a href ng-click="scrollTo('myOrders')">My Orders</a></li>
              <!-- li><a href>Billing Agreements</a></li>
              <li><a href>Recurring Profiles</a></li>
              <li><a href>My Product Reviews</a></li>
              <li><a href>My Tags</a></li -->
              <li><a href="#/wishlist">My Wishlist</a></li>
              <!-- li><a href="#">My Downloadable</a></li>
              <li class="last"><a href="#">Newsletter Subscriptions</a></li -->
            </ul>
          </div>
        </div>
        <!--div class="block block-compare">
          <div class="block-title ">Compare Products (2)</div>
          <div class="block-content">
            <ol id="compare-items">
              <li class="item odd">
                <input type="hidden" value="2173" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Polyester Wrapped Cushions</a> </li>
              <li class="item last even">
                <input type="hidden" value="2174" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> </li>
            </ol>
            <div class="ajax-checkout">
              <button type="submit" title="Submit" class="button button-compare"><span>Compare</span></button>
              <button type="submit" title="Submit" class="button button-clear"><span>Clear</span></button>
            </div>
          </div>
        </div-->
      </aside>
    </div>
  </div>
</section>
  <!--div class="top-banner-section wow bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col add-banner1">
          <div class="top-b-text"><strong>Designer Shoes</strong> For Women</div></div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col free-shipping"><strong>Free Shipping</strong> on order over $199</div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="col add-banner2">
          <div class="top-b-text"><strong>Luxury Handbags</strong>2015 New Arrive</div>
          </div>
                  
          
          
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <div class="col last offer"><strong>New Collection</strong> Lorem ipsum dolor.</div>
        </div>
      </div>
    </div>
  </div>
 <!-- end banner section -->
  <!--div class="brand-logo">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6" common-slider item-count="6">
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div-->