<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="panel-group accordion-faq">
                    <h3>Orders and Accounts</h3>

                    <div class="panel">
                        <div class="panel-heading"><p><b>1. How do I create an Urban Urn account?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Go to the Log In | Sign Up link on the top right hand side of the
                                page. Fill in the required information. Your Urban Urn account will be created. Store
                                your username/password for future use. Happy Shopping!!</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>2. Do I need an Urban Urn account for placing an order?</b></p>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Yes, you do. It is a very easy process to create on. We assure
                                you a smooth and hassle free shopping experience with your Urban Urn account where you
                                can transact, add products to your wishlist, prepare custom orders and manage your
                                transaction history with us. Your personal information is 100% secure.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>3. How do I know that my order has been confirmed?</b></p>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>You can log in to your Urban Urn Account and check the status of
                                your Orders via the "My Account" link on the top menu.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>4. How do I check the status of my order?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>You can review the status and other information of all your
                                orders, whether pending or fulfilled, that you have placed with Urban Urn. To check the
                                status of your orders, click on the “Log In | Sign Up” link in the top right of any page
                                on our website to login to your account. This will take you to your Urban Urn account,
                                where you can click on the "Orders" link to view the list of all your orders. </p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>5. What do different order status values mean?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p><b>Confirmed:</b> We have received authorization from the payment
                                gateway and we are processing your order. Your order has been shipped/ will be shipped
                                soon.</p>

                                <p><b>Delivered:</b> Your order has been delivered at your specified delivery location.
                                </p>

                                <p><b>Cancelled:</b> The order has been cancelled.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group accordion-faq">
                    <h3>Shopping</h3>

                    <div class="panel">
                        <div class="panel-heading"><p><b>1. What is Wishlist?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>In case you like a product that you want to purchase later, we
                                recommend you to add it to your wishlist. You can add multiple products to your wishlist
                                and finally select the ones you one to buy for placing the final order.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>2. Can I order an "Out of Stock" Product?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Unfortunately, we do not support these feature as of now. But
                                soon we will enable you to add an "Out of Stock" product to wishlist and we will try to
                                make it available.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>3. What is a Custom Order?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>We are currently working on this functionality. Once in place,
                                you will be able to suggest your creative ideas to our skilled Artisans and see them
                                come to life. Custom orders, however, being highly customized, take a longer time for
                                fulfilment.</p></div>
                        </div>
                    </div>
                </div>
                <div class="panel-group accordion-faq">
                    <h3>Payments</h3>

                    <div class="panel">
                        <div class="panel-heading"><p><b>1. What are the modes of payment supported by Urban Urn?</b>
                        </p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Urban Urn offers multiple methods to make payments for your
                                order: Credit Card, Debit Card, Net Banking etc.. All credit/debit card details remain
                                confidential and private. Urban Urn and our trusted payment gateways use SSL encryption
                                technology to protect your card information.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>2. Do you support Cash on Delivery?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Unfortunately, We <b>do not</b> support Cash on Delivery as of
                                now. We are working with our logistics partners and vendors to make this feature enabled
                                shortly. Stay Tuned.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>3. How do I pay using Credit/Debit/Prepaid Cards?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Once you "Checkout" after adding items to your shopping cart, you
                                are provided with the payment options to choose from.</p></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><p><b>4. Am I supposed to pay courier charges, local taxes and/or
                            octroi tax?</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Courier charges are a part of the delivery charges that exist in
                                your invoice. No additional charges need to be paid for the same.</p>

                                <p>Any applicable octroi will be payable by the customer. Please pay octroi to the
                                    courier
                                    company if requested by them in your city. Urban Urn is not responsible for any
                                    octroi
                                    payments, local taxes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group accordion-faq">
                        <h3>Delivery</h3>

                        <div class="panel">
                            <div class="panel-heading"><p><b>1. What are the delivery charges?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>We provide free delivery on most items. Some items may have
                                    shipping depending on the nature of the product.</p></div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><p><b>2. What is the estimated delivery time?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>Estimated delivery time depends on the order size. Small
                                    orders
                                    are generally dispatched within 3 working days from the receipt of order.</p></div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><p><b>3. Does Urban Urn deliver internationally?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>As of now we do not support delivery outside India. We are
                                    working with our logistics partner for enabling the same.</p></div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><p><b>4. How can I track the delivery of my order?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>All Urban Urn products are delivered through reputed
                                    logistics
                                    partners who will provide you with a Tracking ID for your order by which you can
                                    track
                                    your delivery on the respective websites of our courier/logistics partners. We email
                                    you
                                    the tracking number after we dispatch your order.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group accordion-faq">
                        <h3>Cancellations, Returns and Refunds</h3>

                        <div class="panel">
                            <div class="panel-heading"><p><b>1. Can I cancel an order?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>Unfortunately, you cannot do it from our website as of now,
                                    once
                                    your order is confirmed. You can reach out to us at "support@urbanurn.com" with the
                                    grievance and our wizards will get in touch with you to magically ease the
                                    process.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><p><b>2. What is the replacement Policy?</b></p></div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>Unfortunately, you cannot do it from our website as of now.
                                    You can reach out to us at "support@urbanurn.com" with the grievance and our support
                                    team will assist you with the process if the replacement case is genuinely considerable.
                                    The fact that each and every Urban Urn product is 100% handcrafted assures authenticity
                                    of the art form but the colours might vary marginally owing to the hand work and hence
                                    the product might not be exactly the same as in the pictures. However, we try and ensure
                                    more than a 99% similarity.</p></div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><p><b>3. Do I get full refund for returned products?</b></p>
                            </div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body"><p>Refunds vary under different circumstances. Please reach out to
                                    "support@urbanurn.com" with your grievance and our team will get back to you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

