<section class="footer-navbar">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-8">
                    <div class="footer-column pull-left collapsed-block">
                        <h4>Shopping Guide<a class="expander visible-xs" href="#TabBlock-1">+</a></h4>

                        <div class="tabBlock" id="TabBlock-1">
                            <ul class="links">
                                <li class="first"><a href="#" title="How to buy">How to buy</a></li>
                                <li><a href="#/faq" title="FAQs">FAQs</a></li>
                                <li><a href="#" title="Payment">Payment</a></li>
                                <li><a href="#" title="Shipment&lt;/a&gt;">Shipment</a></li>
                                <li><a href="#" title="Where is my order?">Where is my order?</a></li>
                                <li class="last"><a href="#" title="Return policy">Return policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column pull-left collapsed-block">
                        <h4>Style Advisor<a class="expander visible-xs" href="#TabBlock-2">+</a></h4>

                        <div class="tabBlock" id="TabBlock-2">
                            <ul class="links">
                                <li class="first"><a title="Your Account" href="#/login">Your Account</a></li>
                                <li><a title="Information" href="#">Information</a></li>
                                <li><a title="Addresses" href="#">Addresses</a></li>
                                <li><a title="Addresses" href="#">Discount</a></li>
                                <li><a title="Orders History" href="#">Orders History</a></li>
                                <li class="last"><a title=" Additional Information" href="#">Additional Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column pull-left collapsed-block">
                        <h4>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h4>

                        <div class="tabBlock" id="TabBlock-3">
                            <ul class="links">
                                <li class="first"><a href="#" title="privacy policy">Privacy policy</a></li>
                                <li><a href="#" title="Search Terms">Search Terms</a></li>
                                <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                                <li><a href="#/contact_us" title="Contact Us">Contact Us</a></li>
                                <li><a href="#" title="Suppliers">Suppliers</a></li>
                                <li class=" last"><a href="#" title="Our stores" class="link-rss">Our stores</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="footer-column-last">
                        <div class="newsletter-wrap collapsed-block">
                            <h4>Sign up for emails<a class="expander visible-xs" href="#TabBlock-4">+</a></h4>

                            <div class="tabBlock" id="TabBlock-4">
                                <form id="newsletter-validate-detail" method="post" action="#">
                                    <div id="container_form_news">
                                        <div id="container_form_news2">
                                            <input type="text" class="input-text required-entry validate-email"
                                                   value="Enter your email address" onfocus=" this.value='' "
                                                   title="Sign up for our newsletter" id="newsletter" name="email">
                                            <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="social">
                            <h4>Follow Us</h4>
                            <ul class="link">
                                <li class="fb pull-left"><a target="_blank" href="https://www.facebook.com/UrbanUrn/?fref=ts"></a></li>
                                <li class="tw pull-left"><a target="_blank" href="https://twitter.com/Urban_Urn"></a></li>
                                <!--<li class="googleplus pull-left"><a href="#"></a></li>-->
                                <!--<li class="rss pull-left"><a href="#"></a></li>-->
                                <!--<li class="pintrest pull-left"><a href="#"></a></li>-->
                                <!--<li class="linkedin pull-left"><a href="#"></a></li>-->
                                <!--<li class="youtube pull-left"><a href="#"></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div style="text-align:center"><a href="#/home"><img alt="footerlogo"
                                                                         src="/static/angular/assets/images/footer-logo.png"></a>
                </div>
                <address>
                    <i class="icon-location-arrow"></i> 123 Main Street, Anytown, CA 12345 USA <i
                        class="icon-mobile-phone"></i><span> +(408) 394-7557</span> <i class="icon-envelope"></i><span> support@urbanurn.com</span>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-xs-12 coppyright">&copy; 2015 Urban Urn. All Rights Reserved.</div>
                <div class="col-sm-7 col-xs-12 company-links">
                    <ul class="links">
                        <li><a title="About Us" href="#">About Us</a></li>
                        <li><a title="Customer Service" href="#">Customer Service</a></li>
                        <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
                        <li class="last"><a title="Site Map" href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</footer>
</div>
<div id="mobile-menu">
    <div class="mm-search">
        <form name="search">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                </div>
                <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
            </div>
        </form>
    </div>
    <ul>
        <li></li>
        <li>
            <div class="home"><a href="#"><i class="icon-home"></i>Home</a></div>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="#/grid">Grid</a></li>
                <li><a href="#/list">List</a></li>
                <li><a href="#/product_detail">Product Detail</a></li>
                <li><a href="#/shopping_cart">Shopping Cart</a></li>
                <li><a href="#/checkout">Checkout</a></li>
                <li><a href="#/wishlist">Wishlist</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/multiple_addresses">Multiple Addresses</a></li>
                <li><a href="#/about_us">About us</a></li>
                <li><a href="#/compare">Compare</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/faq">FAQ</a></li>
                <li><a href="#/quick_view">Quick View</a></li>
                <li><a href="#/newsletter">Newsletter</a></li>
                <li><a href="#/blog">Blog</a>
                    <ul>
                        <li><a href="#/blog_detail">Blog Detail</a></li>
                    </ul>
                </li>
                <li><a href="#/contact_us">Contact us</a></li>
                <li><a href="#/not_found">404 Error Page</a></li>
            </ul>
        </li>
        <li><a href="#/grid">Women</a>
            <ul>
                <li><a href="#/grid" class="">Stylish Bag</a>
                    <ul>
                        <li><a href="#/grid" class="">Clutch Handbags</a></li>
                        <li><a href="#/grid" class="">Diaper Bags</a></li>
                        <li><a href="#/grid" class="">Bags</a></li>
                        <li><a href="#/grid" class="">Hobo handbags</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Material Bag</a>
                    <ul>
                        <li><a href="#/grid">Beaded Handbags</a></li>
                        <li><a href="#/grid">Fabric Handbags</a></li>
                        <li><a href="#/grid">Handbags</a></li>
                        <li><a href="#/grid">Leather Handbags</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Shoes</a>
                    <ul>
                        <li><a href="#/grid">Flat Shoes</a></li>
                        <li><a href="#/grid">Flat Sandals</a></li>
                        <li><a href="#/grid">Boots</a></li>
                        <li><a href="#/grid">Heels</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Jwellery</a>
                    <ul>
                        <li><a href="#/grid">Bracelets</a></li>
                        <li><a href="#/grid">Necklaces &amp; Pendent</a></li>
                        <li><a href="#/grid">Pendants</a></li>
                        <li><a href="#/grid">Pins &amp; Brooches</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Dresses</a>
                    <ul>
                        <li><a href="#/grid">Casual Dresses</a></li>
                        <li><a href="#/grid">Evening</a></li>
                        <li><a href="#/grid">Designer</a></li>
                        <li><a href="#/grid">Party</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Swimwear</a>
                    <ul>
                        <li><a href="#/grid">Swimsuits</a></li>
                        <li><a href="#/grid">Beach Clothing</a></li>
                        <li><a href="#/grid">Clothing</a></li>
                        <li><a href="#/grid">Bikinis</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#/grid">Men</a>
            <ul>
                <li><a href="#/grid" class="">Shoes</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Sport Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Casual Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Leather Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">canvas shoes</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Dresses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Casual Dresses</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Evening</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Designer</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Party</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Jackets</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Coats</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Formal Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Leather Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Blazers</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Watches</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Casio</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Titan</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Tommy-Hilfiger</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Sunglasses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Ray Ban</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Police</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Oakley</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Accesories</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#/grid">Backpacks</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Wallets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Laptops Bags</a></li>
                        <li class="level2 nav-6-1-1"><a href="#/grid">Belts</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#/grid">Electronics</a>
            <ul>
                <li><a href="#/grid"><span>Mobiles</span></a>
                    <ul>
                        <li><a href="#/grid"><span>Samsung</span></a></li>
                        <li><a href="#/grid"><span>Nokia</span></a></li>
                        <li><a href="#/grid"><span>IPhone</span></a></li>
                        <li><a href="#/grid"><span>Sony</span></a></li>
                    </ul>
                </li>
                <li><a href="#/grid" class=""><span>Accesories</span></a>
                    <ul>
                        <li><a href="#/grid"><span>Mobile Memory Cards</span></a></li>
                        <li><a href="#/grid"><span>Cases &amp; Covers</span></a></li>
                        <li><a href="#/grid"><span>Mobile Headphones</span></a></li>
                        <li><a href="#/grid"><span>Bluetooth Headsets</span></a></li>
                    </ul>
                </li>
                <li><a href="#/grid"><span>Cameras</span></a>
                    <ul>
                        <li><a href="#/grid"><span>Camcorders</span></a></li>
                        <li><a href="#/grid"><span>Point &amp; Shoot</span></a></li>
                        <li><a href="#/grid"><span>Digital SLR</span></a></li>
                        <li><a href="#/grid"><span>Camera Accesories</span></a></li>
                    </ul>
                </li>
                <li><a href="#/grid"><span>Audio &amp; Video</span></a>
                    <ul>
                        <li><a href="#/grid"><span>MP3 Players</span></a></li>
                        <li><a href="#/grid"><span>IPods</span></a></li>
                        <li><a href="#/grid"><span>Speakers</span></a></li>
                        <li><a href="#/grid"><span>Video Players</span></a></li>
                    </ul>
                </li>
                <li><a href="#/grid"><span>Computer</span></a>
                    <ul>
                        <li><a href="#/grid"><span>External Hard Disk</span></a></li>
                        <li><a href="#/grid"><span>Pendrives</span></a></li>
                        <li><a href="#/grid"><span>Headphones</span></a></li>
                        <li><a href="#/grid"><span>PC Components</span></a></li>
                    </ul>
                </li>
                <li><a href="#/grid"><span>Appliances</span></a>
                    <ul>
                        <li><a href="#/grid"><span>Vaccum Cleaners</span></a></li>
                        <li><a href="#/grid"><span>Indoor Lighting</span></a></li>
                        <li><a href="#/grid"><span>Kitchen Tools</span></a></li>
                        <li><a href="#/grid"><span>Water Purifier</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#/grid">Furniture</a>
            <ul>
                <li><a href="#/grid">Living Room</a>
                    <ul>
                        <li><a href="#/grid">Racks &amp; Cabinets</a></li>
                        <li><a href="#/grid">Sofas</a></li>
                        <li><a href="#/grid">Chairs</a></li>
                        <li><a href="#/grid">Tables</a></li>
                    </ul>
                </li>
                <li><a href="#/grid" class="">Dining &amp; Bar</a>
                    <ul>
                        <li><a href="#/grid">Dining Table Sets</a></li>
                        <li><a href="#/grid">Serving Trolleys</a></li>
                        <li><a href="#/grid">Bar Counters</a></li>
                        <li><a href="#/grid">Dining Cabinets</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Bedroom</a>
                    <ul>
                        <li><a href="#/grid">Beds</a></li>
                        <li><a href="#/grid">Chest of Drawers</a></li>
                        <li><a href="#/grid">Wardrobes &amp; Almirahs</a></li>
                        <li><a href="#/grid">Nightstands</a></li>
                    </ul>
                </li>
                <li><a href="#/grid">Kitchen</a>
                    <ul>
                        <li><a href="#/grid">Kitchen Racks</a></li>
                        <li><a href="#/grid">Kitchen Fillings</a></li>
                        <li><a href="#/grid">Wall Units</a></li>
                        <li><a href="#/grid">Benches &amp; Stools</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#/grid">Kids</a></li>
        <li><a href="#/contact_us">Contact Us</a></li>
    </ul>
</div>
