 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="#/home">Home</a><span>» </span></li>
            <li class=""> <a title="Go to Home Page" href="#/grid">{{ sku_category }}</a><span>» </span></li>
            <li class="category13"><strong>{{ sku_name }}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  <div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-sm-push-3">
          <article class="col-main">
            <div class="page-header">
              <h2>{{ sku_name }}</h2>
            </div>
            <div class="category-description std">
              <!-- Temporarily commented the slider feature, we will enable it at a later phase -->
              <!--div class="slider-items-products">
                <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                  <div class="slider-items slider-width-col1 owl-carousel owl-theme" common-slider item-count="1">
                    <div class="item"> <a href="#x"><img alt="" src="/static/angular/assets/images/women_banner.png"></a>
                      <div class="cat-img-title cat-bg cat-box">
                        <h2 class="cat-heading"><strong>New Fashion 2015</strong><br></h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu.</p>
                      </div>
                    </div>
                    <div class="item"> <a href="#x"><img alt="" src="/static/angular/assets/images/women_banner.png"></a>
                    </div>
                  </div>
                </div>
              </div-->
            </div>
              <!-- Temporarily commented the toolbar feature, we will enable it at a later phase -->
            <!--div class="toolbar">
              <div class="sorter">
                <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="#/list" title="List" class="button-list">&nbsp;</a> </div>
              </div>
              <div id="sort-by">
                <label class="left">Sort By: </label>
                <ul>
                  <li><a href="#">Position<span class="right-arrow"></span></a>
                    <ul>
                      <li><a href="#">Name</a></li>
                      <li><a href="#">Price</a></li>
                      <li><a href="#">Position</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="glyphicon glyphicon-arrow-up"></span></a> </div>
              <div class="pager">
                <div id="limiter">
                  <label>View: </label>
                  <ul>
                    <li><a href="#">15<span class="right-arrow"></span></a>
                      <ul>
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">35</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="pages">
                  <label>Page:</label>
                  <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div-->
            <div class="category-products">
              <ul class="products-grid" ng-show="sku_products.length > 0">
                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6" ng-repeat="product in sku_products">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"> <a href ng-click="goToProduct(product)" title="{{ product.name }}" class="product-image"> <img src="{{ product.product_images[0].image }}" alt="{{ product.name }}"> </a>
                        <!--div class="new-label new-top-left">New</div-->
                        <!-- Commented out the feature of allowing actions from product image-->
                        <!--div class="item-box-hover">
                          <div class="box-inner"> <div class="actions">
                            <div class="add_cart">
                              <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                            </div>
                            <div class="product-detail-bnt"><a href="#/quick_view" class="button detail-bnt"><span>Quick View</span></a></div>
                           <span class="add-to-links"> <a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                          </div>
                        </div-->
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a href ng-click="goToProduct(product)" title="{{ product.name }}">{{ product.name }}</a> </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating" style="width:80%"></div>
                              </div>
                              <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price" id="product-price-1"> <span class="price">Rs. {{ product.price }}</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="products-grid" ng-show="sku_products.length == 0">
                  <p>Sorry, currently there are no products in this category. Stay tuned !!</p>
              </div>
            </div>
          </article>
          <!--	///*///======    End article  ========= //*/// --> 
        </div>
        <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <aside class="col-left sidebar">
          <div class="side-nav-categories">
              <div class="block-title"> Categories </div>
              <!--block-title--> 
              <!-- BEGIN BOX-CATEGORY -->
              <div class="box-content box-category">
                  <ul>
                      <li><a class="active" href="#">Women</a> <span class="subDropdown minus"></span>
                          <ul class="level0_415" style="display:block">
                              <li ng-repeat="sku in womenSkus"><a href ng-click="sku.selected = true">{{ sku.parent_sku_name }}</a> <span
                                      class="subDropdown plus"></span>
                                  <ul class="level1" ng-show="sku.selected == true">
                                      <li ng-repeat="child in sku.children"><a href="#">{{ child.name }}</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li><a href="#">Men</a> <span class="subDropdown plus"></span>
                          <ul class="level0_415" style="display:block">
                              <li ng-repeat="sku in menSkus"><a href>{{ sku.parent_sku_name }}</a> <span
                                      class="subDropdown plus"></span>
                                  <ul class="level1" style="display:none">
                                      <li ng-repeat="child in sku.children"><a href="#">{{ child.name }}</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class="last"><a href="#">Decor</a> <span class="subDropdown plus"></span>
                          <ul class="level0_415" style="display:block">
                              <li ng-repeat="sku in decorSkus"><a href>{{ sku.parent_sku_name }}</a> <span
                                      class="subDropdown plus"></span>
                                  <ul class="level1" style="display:none">
                                      <li ng-repeat="child in sku.children"><a href="#">{{ child.name }}</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <!--box-content box-category--> 
            </div>
            <!--div class="block block-layered-nav">
              <div class="block-title"> Browse By </div>
              <div class="block-content">
                <dl id="narrow-by-list2">
                  <dt class="last odd">Category</dt>
                  <dd class="last odd">
                    <ol>
                      <li> <a href="#">Stylish Bag</a> (30) </li>
                      <li> <a href="#">Material Bag</a> (30) </li>
                      <li> <a href="#">Shoes</a> (32) </li>
                      <li> <a href="#">Jwellery</a> (30) </li>
                      <li> <a href="#">Dresses</a> (30) </li>
                      <li> <a href="#">Swimwear</a> (30) </li>
                    </ol>
                  </dd>
                </dl>
              </div>
            </div>
            
            <div class="block block-layered-nav">
              <div class="block-title">Shop By</div>
              <div class="block-content">
                <p class="block-subtitle">Shopping Options</p>
                <dl id="narrow-by-list">
                  <dt class="odd">Price</dt>
                  <dd class="odd">
                    <ol>
                      <li> <a href="#"><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (6) </li>
                      <li> <a href="#"><span class="price">$100.00</span> and above</a> (6) </li>
                    </ol>
                  </dd>
                  <dt class="even">Manufacturer</dt>
                  <dd class="even">
                    <ol>
                      <li> <a href="#">TheBrand</a> (9) </li>
                      <li> <a href="#">Company</a> (4) </li>
                      <li> <a href="#">LogoFashion</a> (1) </li>
                    </ol>
                  </dd>
                  <dt class="odd">Color</dt>
                  <dd class="odd">
                    <ol>
                      <li> <a href="#">Green</a> (1) </li>
                      <li> <a href="#">White</a> (5) </li>
                      <li> <a href="#">Black</a> (5) </li>
                      <li> <a href="#">Gray</a> (4) </li>
                      <li> <a href="#">Dark Gray</a> (3) </li>
                      <li> <a href="#">Blue</a> (1) </li>
                    </ol>
                  </dd>
                  <dt class="last even">Size</dt>
                  <dd class="last even">
                    <ol>
                      <li> <a href="#">S</a> (6) </li>
                      <li> <a href="#">M</a> (6) </li>
                      <li> <a href="#">L</a> (4) </li>
                      <li> <a href="#">XL</a> (4) </li>
                    </ol>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="block block-banner"><a href="#"><img alt="block-banner" src="/static/angular/assets/images/RHS-banner-img.jpg"></a></div-->
            <div class="block block-cart" ng-show="cartData.length>0">
              <div class="block-title ">My Cart</div>
              <div class="block-content">
                <div class="summary">
                  <p class="amount">There are <a href="#">{{cartData.length}} item(s)</a> in your cart.</p>
                  <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">₹{{ total }}</span> </p>
                </div>
                <div class="ajax-checkout">
                  <button class="button button-checkout" ng-click="routeToCheckout()" title="Submit" type="submit"><span>Checkout</span></button>
                </div>
                <!--p class="block-subtitle">Recently added item(s) </p>
                <ul>
                  <li class="item"> <a href="#/product_detail" title="Sample Product" class="product-image"><img src="/static/angular/assets/images/sample_product.jpg" alt="Sample Product"></a>
                    <div class="product-details">
                      <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a> </div>
                      <p class="product-name"> <a href="#/product_detail">Sample Product</a> </p>
                      <strong>1</strong> x <span class="price">$19.99</span> </div>
                  </li>
                  <li class="item last"> <a href="#/product_detail" title="Sample Product" class="product-image"><img src="/static/angular/assets/images/sample_product.jpg" alt="Sample Product"></a>
                    <div class="product-details">
                      <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a> </div>
                      <p class="product-name"> <a href="#/product_detail"> Sample Product </a> </p>
                      <strong>1</strong> x <span class="price">$8.00</span>
                    </div>
                  </li>
                </ul-->
              </div>
            </div>
            
             <!-- Special Slider -->
  <!--section class="special-pro">
    <div class="slider-items-products">
      <div class="block-title">
        <h2>Special Products</h2>
      </div>
      <div id="special-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col4 products-grid">
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">                                        
                                        <div class="actions">
                                        <div class="add_cart">
                                          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                        <div class="product-detail-bnt"><a href="#/quick_view" class="button detail-bnt"><span>Quick View</span></a></div> <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
 <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:30%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">                                        
                                        <div class="actions">
                                        <div class="add_cart">
                                          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                        <div class="product-detail-bnt"><a href="#/quick_view" class="button detail-bnt"><span>Quick View</span></a></div> <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
 <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:100%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $100.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $90.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a>
                    <div class="new-label new-top-left">new</div>
                    <div class="item-box-hover">
                      <div class="box-inner">                                        
                                        <div class="actions">
                                        <div class="add_cart">
                                          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                        <div class="product-detail-bnt"><a href="#/quick_view" class="button detail-bnt"><span>Quick View</span></a></div> <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
 <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:80%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
           
            
          </div>
      </div>
    </div>
    </section-->
  <!-- End Featured Slider --> 
  
            <!--div class="block block-compare">
              <div class="block-title ">Compare Products (2)</div>
              <div class="block-content">
                <ol id="compare-items">
                  <li class="item odd">
                    <input type="hidden" value="2173" class="compare-item-id">
                    <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Polyester Wrapped Cushions</a> </li>
                  <li class="item last even">
                    <input type="hidden" value="2174" class="compare-item-id">
                    <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> </li>
                </ol>
                <div class="ajax-checkout">
                  <button type="submit" title="Submit" class="button button-compare"><span>Compare</span></button>
                  <button type="submit" title="Submit" class="button button-clear"><span>Clear</span></button>
                </div>
              </div>
            </div>
            <div class="block block-list block-viewed">
              <div class="block-title"> Recently Viewed </div>
              <div class="block-content">
                <ol id="recently-viewed-items">
                  <li class="item odd">
                    <p class="product-name"><a href="#"> Armchair with Box-Edge Upholstered Arm</a></p>
                  </li>
                  <li class="item even">
                    <p class="product-name"><a href="#"> Pearce Upholstered Slee pere</a></p>
                  </li>
                  <li class="item last odd">
                    <p class="product-name"><a href="#"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a></p>
                  </li>
                </ol>
              </div>
            </div>
            <div class="block block-poll">
              <div class="block-title">Community Poll </div>
              <form id="pollForm" action="#" method="post" onSubmit="return validatePollAnswerIsSelected();">
                <div class="block-content">
                  <p class="block-subtitle">What is your favorite Magento feature?</p>
                  <ul id="poll-answers">
                    <li class="odd">
                      <input type="radio" name="vote" class="radio poll_vote" id="vote_5" value="5">
                      <span class="label">
                      <label for="vote_5">Layered Navigation</label>
                      </span> </li>
                    <li class="even">
                      <input type="radio" name="vote" class="radio poll_vote" id="vote_6" value="6">
                      <span class="label">
                      <label for="vote_6">Price Rules</label>
                      </span> </li>
                    <li class="odd">
                      <input type="radio" name="vote" class="radio poll_vote" id="vote_7" value="7">
                      <span class="label">
                      <label for="vote_7">Category Management</label>
                      </span> </li>
                    <li class="last even">
                      <input type="radio" name="vote" class="radio poll_vote" id="vote_8" value="8">
                      <span class="label">
                      <label for="vote_8">Compare Products</label>
                      </span> </li>
                  </ul>
                  <div class="actions">
                    <button type="submit" title="Vote" class="button button-vote"><span>Vote</span></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="block block-tags">
              <div class="block-title"> Popular Tags</div>
              <div class="block-content">
                <ul class="tags-list">
                  <li><a href="#" style="font-size:98.3333333333%;">Camera</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">Hohoho</a></li>
                  <li><a href="#" style="font-size:145%;">SEXY</a></li>
                  <li><a href="#" style="font-size:75%;">Tag</a></li>
                  <li><a href="#" style="font-size:110%;">Test</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">bones</a></li>
                  <li><a href="#" style="font-size:110%;">cool</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">cool t-shirt</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">crap</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">good</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">green</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">hip</a></li>
                  <li><a href="#" style="font-size:75%;">laptop</a></li>
                  <li><a href="#" style="font-size:75%;">mobile</a></li>
                  <li><a href="#" style="font-size:75%;">nice</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">phone</a></li>
                  <li><a href="#" style="font-size:98.3333333333%;">red</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">tight</a></li>
                  <li><a href="#" style="font-size:75%;">trendy</a></li>
                  <li><a href="#" style="font-size:86.6666666667%;">young</a></li>
                </ul>
                <div class="actions"> <a href="#" class="view-all">View All Tags</a> </div>
              </div>
            </div-->
          </aside>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Container End -->