<div class="header-container">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6 col-lg-2 hidden-xs">
                    <!-- Default Welcome Message -->
                    <div class="welcome-msg" ng-show="is_loggedin"> Welcome '{{ user.first_name }} {{ user.last_name }}'</div>
                    <!-- End Default Welcome Message -->
                </div>
                <div class="col-sm-7 col-xs-6 col-lg-8">
                    <div class="toplinks">
                        <div class="links">
                            <div class="myaccount"><a title="My Account" href="#/login"><span class="hidden-xs">My Account</span></a>
                            </div>
                            <div class="wishlist"><a title="My Wishlist" href="#/wishlist"><span class="hidden-xs">Wishlist</span></a>
                            </div>
                            <div class="check"><a title="Checkout" href="#/checkout"><span
                                    class="hidden-xs">Checkout</span></a></div>
                            <!--div-- class="demo"><a title="Blog" href="#/blog"><span class="hidden-xs">Blog</span></a>
                            </div-->
                            <!-- Header Company -->
                            <div class="dropdown block-company-wrapper hidden-xs"><a role="button"
                                                                                     data-toggle="dropdown"
                                                                                     data-target="#"
                                                                                     class="block-company dropdown-toggle"
                                                                                     href="">Company <span
                                    class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/about_us">About
                                        Us</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Customer
                                        Service</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Privacy Policy</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="sitemap.html">Site
                                        Map</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Search Terms</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Advanced
                                        Search</a></li>
                                </ul>
                            </div>
                            <!-- End Header Company -->
                            <div class="login" ng-show="!is_loggedin">
                                <a href="#/login"><span class="hidden-xs">Log In | Sign Up</span></a>
                            </div>

                            <div ng-show="is_loggedin">
                                <div class="dropdown block-company-wrapper hidden-xs"><a role="button"
                                                                                         data-toggle="dropdown"
                                                                                         data-target="#"
                                                                                         class="block-company dropdown-toggle"
                                                                                         href="">{{ user.username }}<span
                                        class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-click="logoutUser()"><a role="menuitem" tabindex="-1" href="">Logout
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- links -->
                    </div>
                </div>
                <!-- Search-col -->
                <div class="col-sm-3 col-xs-6 col-lg-2">
                    <div class="search-box pull-right">
                        <form action="cat" method="POST" id="search_mini_form" name="Categories">
                            <input type="text" placeholder="Search entire store" maxlength="70"
                                   name="search" id="search">
                            <button type="button" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;
                            </button>
                        </form>
                    </div>
                    <!-- End Search-col -->
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-xs-12 col-md-2">
                    <!-- Header Logo -->
                    <div class="logo"><a title="Magento Commerce" href="#/home"><img alt="Magento Commerce"
                                                                                         src="/static/angular/assets/images/logo.png"></a>
                    </div>
                    <!-- End Header Logo -->
                </div>
                <!-- Navbar -->
                <div class="nav-inner">
                    <ul id="nav" class="hidden-xs" nav-menu>
                        <li class="level0 parent drop-menu active"><a href="#/home"><span>Home</span></a>
                        </li>
                        <li class="mega-menu"><a href class="level-top"><span>Women</span></a>

                            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                                <div class="container">
                                    <div class="level0-wrapper2">
                                        <div class="nav-block nav-block-center">
                                            <ul class="level0">
                                                <li ng-repeat="sku in womenSkus"
                                                    class="level1 nav-6-1 parent item"><a href
                                                                                          class=""><span>{{ sku.parent_sku_name }}</span></a>
                                                    <ul class="level1">
                                                        <li ng-repeat="child in sku.children"
                                                            class="level2 nav-6-1-1"><a href ng-click="getSkuProducts(child.sku_guid)"
                                                                                        class=""><span>{{ child.name }}</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--level0-wrapper2-->
                                        <!--Commented functionality to show images in mega menu-->
                                        <!--div class="nav-add">
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="sunglass"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="watch"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="jeans"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item push_item_last">
                                                <div class="push_img"><a href="#"><img alt="shoes"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega-menu"><a href class="level-top"><span>Men</span></a>

                            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                                <div class="container">
                                    <div class="level0-wrapper2">
                                        <div class="nav-block nav-block-center">
                                            <ul class="level0">
                                                <li ng-repeat="sku in menSkus"
                                                    class="level1 nav-6-1 parent item"><a href
                                                                                          class=""><span>{{ sku.parent_sku_name }}</span></a>
                                                    <ul class="level1">
                                                        <li ng-repeat="child in sku.children" ng-click="getSkuProducts(child.sku_guid)"
                                                            class="level2 nav-6-1-1"><a href
                                                                                        class=""><span>{{ child.name }}</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--level0-wrapper2-->
                                        <!--Commented functionality to show images in mega menu-->
                                        <!--div class="nav-add">
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="sunglass"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="watch"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item">
                                                <div class="push_img"><a href="#"><img alt="jeans"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                            <div class="push_item push_item_last">
                                                <div class="push_img"><a href="#"><img alt="shoes"
                                                                                       src="/static/angular/assets/images/menu_man_sunglass.png"></a>
                                                </div>
                                            </div>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega-menu"><a href class="level-top"><span>Decor</span></a>

                            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                                <div class="container">
                                    <div class="level0-wrapper2">
                                        <div class="nav-block nav-block-center">
                                            <ul class="level0">
                                                <li ng-repeat="sku in decorSkus"
                                                    class="level1 nav-6-1 parent item"><a href
                                                                                          class=""><span>{{ sku.parent_sku_name }}</span></a>
                                                    <ul class="level1">
                                                        <li ng-repeat="child in sku.children" ng-click="getSkuProducts(child.sku_guid)"
                                                            class="level2 nav-6-1-1"><a href
                                                                                        class=""><span>{{ child.name }}</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--level0-wrapper2-->
                                    <!--Commented functionality to show images in mega menu-->
                                    <!--div class="nav-add">
                                        <div class="push_item">
                                            <div class="push_img"><a href="#"><img alt="phone"
                                                                                   src="/static/angular/assets/images/menu_ele_phone.png"></a>
                                            </div>
                                        </div>
                                        <div class="push_item">
                                            <div class="push_img"><a href="#"><img alt="camera"
                                                                                   src="/static/angular/assets/images/menu_ele_phone.png"></a>
                                            </div>
                                        </div>
                                        <div class="push_item">
                                            <div class="push_img"><a href="#"><img alt="ipod"
                                                                                   src="/static/angular/assets/images/menu_ele_phone.png"></a>
                                            </div>
                                        </div>
                                        <div class="push_item push_item_last">
                                            <div class="push_img"><a href="#"><img alt="laptop"
                                                                                   src="/static/angular/assets/images/menu_ele_phone.png"></a>
                                            </div>
                                        </div>
                                    </div-->
                                </div>
                            </div>
                        </li>
                        <li class="nav-custom-link mega-menu"><a class="level-top" href="#"><span>Custom</span></a>

                            <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
                                <div class="container">
                                    <div class="header-nav-dropdown-wrapper clearer">
                                        <div class="grid12-5">
                                            <div class="custom_img"><a href="#"><img
                                                    src="/static/angular/assets/images/custom-img1.jpg"
                                                    alt="custom img1"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla
                                                augue.</p>
                                            <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span>
                                            </button>
                                        </div>
                                        <div class="grid12-5">
                                            <div class="custom_img"><a href="#"><img
                                                    src="/static/angular/assets/images/custom-img2.jpg"
                                                    alt="custom img2"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla
                                                augue.</p>
                                            <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span>
                                            </button>
                                        </div>
                                        <div class="grid12-5">
                                            <div class="custom_img"><a href="#"><img
                                                    src="/static/angular/assets/images/custom-img3.jpg"
                                                    alt="custom img3"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla
                                                augue.</p>
                                            <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span>
                                            </button>
                                        </div>
                                        <div class="grid12-5">
                                            <div class="custom_img"><a href="#"><img
                                                    src="/static/angular/assets/images/custom-img4.jpg"
                                                    alt="custom img4"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla
                                                augue.</p>
                                            <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="menu_top">
                        <div class="top-cart-contain pull-right" cart-dropdown>
                            <!-- Top Cart -->
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a
                                        href="#">({{cartData.length}})</a></div>
                                <div>
                                    <div class="top-cart-content" style="display: none;" ng-show="cartData.length>0">
                                        <div class="block-subtitle">
                                            <div class="top-subtotal">{{cartData.length}} <span class="price">{{total}}</span></div>
                                            <!--top-subtotal-->
                                            <div class="pull-right">
                                                <button title="View Cart" class="view-cart" type="button" ng-click="loadRoute('/shopping_cart')"><span>View Cart</span>
                                                </button>
                                            </div>
                                            <!--pull-right-->
                                        </div>
                                        <!--block-subtitle-->
                                        <ul class="mini-products-list" id="cart-sidebar">
                                            <li class="item first" ng-repeat="cart in cartData">
                                                <div class="item-inner"><a href="#/product_detail"
                                                                           class="product-image" title="cart.product_info[0].name"><img
                                                        alt="Sample Product"
                                                        src="/static/angular/assets/images/sample_product.jpg"></a>

                                                    <div class="product-details">
                                                        <div class="access"><a class="btn-remove1"
                                                                               title="Remove This Item"
                                                                               ng-click="deleteItemFromCart(cart)"
                                                                               href="#">Remove</a> <a class="btn-edit"
                                                                                                      title="Edit item"
                                                                                                      ng-click="editItemInCart(cart)"><i
                                                                class="icon-pencil"></i><span
                                                                class="hidden">Edit item</span></a></div>
                                                        <!--access--> <strong>{{cart.product_data.quantity}}</strong> x <span
                                                            class="price">₹{{cart.product_info[0].price}}</span>

                                                        <p class="product-name"><a href="#/product_detail">{{cart.product_info[0].name}}</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="actions">
                                            <button class="btn-checkout" title="Checkout" type="button" ng-click="loadRoute('/checkout')">
                                                <span>Checkout</span></button>
                                        </div>
                                        <!--actions-->
                                    </div>
                                </div>
                            </div>
                            <!-- Top Cart -->
                            <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                                <input value="" type="hidden">
                                <input id="enable_module" value="1" type="hidden">
                                <input class="effect_to_cart" value="1" type="hidden">
                                <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                            </div>
                        </div>
                        <!-- Header Language -->
                        <div class="lang-curr">
                            <div class="form-language">
                                <ul class="lang">
                                    <li class=""><a href="" title="English"><img
                                            src="/static/angular/assets/images/english.png" alt="English"/>
                                        <span>English</span></a></li>
                                </ul>
                            </div>
                            <div class="form-currency">
                                <ul class="currencies_list">
                                    <li class=""><a class="" title="Dollar" href="#">₹</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Currency -->
                    </div>
                </div>
                <!-- end nav -->
            </div>
        </div>
    </div>
</div>
