<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span></div>
</div>

<!-- Slider -->
<div id="magik-slideshow" class="magik-slideshow">
    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
        <div id='rev_slider_4' class='rev_slider fullwidthabanner' revolution-slider>
            <ul>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                    data-thumb='/static/angular/assets/images/slide-img1.jpg'><img
                        src='/static/angular/assets/images/slide-img1.jpg' alt="slide1" data-bgposition='left top'
                        data-bgfit='cover' data-bgrepeat='no-repeat'/>

                    <div class="info">
                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='860' data-y='60'
                             data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Launching on
                        </div>
                        <div class='tp-caption line' data-x='860' data-y='120' data-endspeed='500' data-speed='500'
                             data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                             data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>&nbsp;</div>
                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='860' data-y='140'
                             data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>THIS HOLI
                        </div>
                        <div class='tp-caption sfb  tp-resizeme ' data-x='860' data-y='330' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#'
                                                                                                     class="view-more">View
                            More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                        <div class='tp-caption Title sft  tp-resizeme ' data-x='860' data-y='220' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>With all new arrivals
                            from various vendors<br></div>
                        <div class='tp-caption Title sft  tp-resizeme small-size ' data-x='860' data-y='370'
                             data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Check for more...
                        </div>
                    </div>
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                    data-thumb='/static/angular/assets/images/slide-img2.jpg'><img
                        src='/static/angular/assets/images/slide-img2.jpg' alt="slide2" data-bgposition='left top'
                        data-bgfit='cover' data-bgrepeat='no-repeat'/>

                    <div class="info">
                        <div class='tp-caption ExtraLargeTitle sft tp-resizeme ' data-x='395' data-y='60'
                             data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Launching on
                        </div>
                        <div class='tp-caption line' data-x='395' data-y='120' data-endspeed='500' data-speed='500'
                             data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                             data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>&nbsp;</div>
                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='395' data-y='140'
                             data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>THIS HOLI
                        </div>
                        <div class='tp-caption Title1 sft tp-resizeme' data-x='395' data-y='220' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>With all new arrivals
                            from various vendors<br></div>
                        <div class='tp-caption sfb  tp-resizeme ' data-x='395' data-y='330' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#'
                                                                                                     class="view-more">View
                            More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                        <div class='tp-caption Title sft  tp-resizeme ' data-x='395' data-y='370' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;font-size:11px'>Check
                            for more...
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-col">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- end main container -->
<!-- Featured Slider -->
<div class="featured-pro container wow bounceInUp animated">
    <div class="slider-items-products">
        <div class="new_title center">
            <h2>New Arrivals</h2>
        </div>
<div id="featured-slider" class="product-flexslider hidden-buttons">
    <li class="products-grid" style="opacity: 1; display: block;">
                    <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6" ng-repeat="product in latest_products">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a href ng-click="goToProduct(product)"
                                                                      title="{{ product.name }}" class="product-image">
                                            <img src="{{ product.product_images[0].image }}" alt="{{ product.name }}">
                                        </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a href ng-click="goToProduct(product)"
                                                                       title="{{ product.name }}">{{ product.name }}</a>
                                            </div>
                                            <div class="item-content">
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price"
                                                                                 id="product-price-1"> <span
                                                            class="price">Rs. {{ product.price }}</span> </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </li>
        <!--div class="owl-controls">
            <div class="owl-buttons">
                <div class="owl-prev"><a class="flex-prev"></a></div>
                <div class="owl-next"><a class="flex-next"></a></div>
            </div>
        </div-->
    </div>
</div>
    </div>
</div>
<!-- End Featured Slider -->
