<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span></div>
</div>

<!-- Slider -->
<div id="magik-slideshow" class="magik-slideshow">
    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
        <div id='rev_slider_4' class='rev_slider fullwidthabanner' revolution-slider>
            <ul>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                    data-thumb='/static/angular/assets/images/slide-img1.jpg'><img
                        src='/static/angular/assets/images/slide-img1.jpg' alt="slide1" data-bgposition='left top'
                        data-bgfit='cover' data-bgrepeat='no-repeat'/>

                    <div class="info">
                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='860' data-y='60'
                             data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Launching on
                        </div>
                        <div class='tp-caption line' data-x='860' data-y='120' data-endspeed='500' data-speed='500'
                             data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                             data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>&nbsp;</div>
                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='860' data-y='140'
                             data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>THIS DIWALI
                        </div>
                        <div class='tp-caption sfb  tp-resizeme ' data-x='860' data-y='330' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#'
                                                                                                     class="view-more">View
                            More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                        <div class='tp-caption Title sft  tp-resizeme ' data-x='860' data-y='220' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>With all new arrivals
                            from various vendors<br></div>
                        <div class='tp-caption Title sft  tp-resizeme small-size ' data-x='860' data-y='370'
                             data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Check for more...
                        </div>
                    </div>
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                    data-thumb='/static/angular/assets/images/slide-img2.jpg'><img
                        src='/static/angular/assets/images/slide-img2.jpg' alt="slide2" data-bgposition='left top'
                        data-bgfit='cover' data-bgrepeat='no-repeat'/>

                    <div class="info">
                        <div class='tp-caption ExtraLargeTitle sft tp-resizeme ' data-x='395' data-y='60'
                             data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Launching on
                        </div>
                        <div class='tp-caption line' data-x='395' data-y='120' data-endspeed='500' data-speed='500'
                             data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                             data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>&nbsp;</div>
                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='395' data-y='140'
                             data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                             data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>THIS DIWALI
                        </div>
                        <div class='tp-caption Title1 sft tp-resizeme' data-x='395' data-y='220' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>With all new arrivals
                            from various vendors<br></div>
                        <div class='tp-caption sfb  tp-resizeme ' data-x='395' data-y='330' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#'
                                                                                                     class="view-more">View
                            More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                        <div class='tp-caption Title sft  tp-resizeme ' data-x='395' data-y='370' data-endspeed='500'
                             data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                             data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                             style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;font-size:11px'>Check
                            for more...
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-col">
    <div class="container">
        <div class="row">
            <div class="best-pro container wow bounceInUp animated">
                <div class="slider-items-products">
                    <div class="new_title center">
                        <h2>NEW ARRIVALS</h2>
                    </div>
                    <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 products-grid" common-slider item-count="4">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"> </a>

                                            <div class="sale-label sale-top-left">sale</div>
                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:80%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price"> <span
                                                            class="price">₹125.00</span> </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"></a>

                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:30%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="old-price"><span
                                                                class="price-label">Regular Price:</span> <span
                                                                class="price"> ₹567.00 </span></p>

                                                        <p class="special-price"><span
                                                                class="price-label">Special Price</span> <span
                                                                class="price"> ₹456.00 </span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"></a>

                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:100%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="old-price"><span
                                                                class="price-label">Regular Price:</span> <span
                                                                class="price"> ₹100.00 </span></p>

                                                        <p class="special-price"><span
                                                                class="price-label">Special Price</span> <span
                                                                class="price"> ₹90.00 </span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item -->

                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"> </a>

                                            <div class="new-label new-top-left">new</div>
                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:80%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price"> <span
                                                            class="price">₹125.00</span> </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item -->
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"></a>

                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:30%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="old-price"><span
                                                                class="price-label">Regular Price:</span> <span
                                                                class="price"> ₹567.00 </span></p>

                                                        <p class="special-price"><span
                                                                class="price-label">Special Price</span> <span
                                                                class="price"> ₹456.00 </span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                                      href="#/product_detail"> <img
                                                alt="Sample Product"
                                                src="/static/angular/assets/images/sample_product.jpg"></a>

                                            <div class="item-box-hover">
                                                <div class="box-inner">
                                                    <div class="actions">
                                                        <div class="add_cart">
                                                            <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                        <div class="product-detail-bnt"><a href="#/quick_view"
                                                                                           class="button detail-bnt"><span>Quick View</span></a>
                                                        </div>
                                                        <span class="add-to-links"><a href="#/wishlist"
                                                                                      class="link-wishlist"
                                                                                      title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                                href="#/compare" class="link-compare add_to_compare"
                                                                title="Add to Compare"><span>Add to Compare</span></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Sample Product"
                                                                       href="#/product_detail"> Sample Product </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:100%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                class="separator">|</span> <a href="#">Add Review</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="old-price"><span
                                                                class="price-label">Regular Price:</span> <span
                                                                class="price"> ₹100.00 </span></p>

                                                        <p class="special-price"><span
                                                                class="price-label">Special Price</span> <span
                                                                class="price"> ₹90.00 </span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main container -->
<!-- Featured Slider -->
<div class="featured-pro container wow bounceInUp animated">
    <div class="slider-items-products">
        <div class="new_title center">
            <h2>Featured Products</h2>
        </div>
        <div id="featured-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid" common-slider item-count="4">
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg">
                            </a>

                                <div class="sale-label sale-top-left">sale</div>
                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:80%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box"><span class="regular-price"> <span
                                                class="price">₹125.00</span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg"></a>

                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:30%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box">
                                            <p class="old-price"><span class="price-label">Regular Price:</span> <span
                                                    class="price"> ₹567.00 </span></p>

                                            <p class="special-price"><span class="price-label">Special Price</span>
                                                <span class="price"> ₹456.00 </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg"></a>

                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:100%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box">
                                            <p class="old-price"><span class="price-label">Regular Price:</span> <span
                                                    class="price"> ₹100.00 </span></p>

                                            <p class="special-price"><span class="price-label">Special Price</span>
                                                <span class="price"> ₹90.00 </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg">
                            </a>
                                <div class="new-label new-top-left">new</div>
                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:80%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box"><span class="regular-price"> <span
                                                class="price">₹125.00</span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg"></a>

                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:30%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box">
                                            <p class="old-price"><span class="price-label">Regular Price:</span> <span
                                                    class="price"> ₹567.00 </span></p>

                                            <p class="special-price"><span class="price-label">Special Price</span>
                                                <span class="price"> ₹456.00 </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info"><a class="product-image" title="Sample Product"
                                                          href="#/product_detail"> <img alt="Sample Product"
                                                                                           src="/static/angular/assets/images/sample_product.jpg"></a>

                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="actions">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button"><span>Add to Cart</span>
                                                </button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="#/quick_view"
                                                                               class="button detail-bnt"><span>Quick View</span></a>
                                            </div>
                                            <span class="add-to-links"><a href="#/wishlist" class="link-wishlist"
                                                                          title="Add to Wishlist"><span>Add to Wishlist</span></a> <a
                                                    href="#/compare" class="link-compare add_to_compare"
                                                    title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a title="Sample Product" href="#/product_detail"> Sample
                                    Product </a></div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:100%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span>
                                                <a href="#">Add Review</a></p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box">
                                            <p class="old-price"><span class="price-label">Regular Price:</span> <span
                                                    class="price"> ₹100.00 </span></p>

                                            <p class="special-price"><span class="price-label">Special Price</span>
                                                <span class="price"> ₹90.00 </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Featured Slider -->
