<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>Privacy Policy</h2>
                </div>
                <div class="panel-group accordion-faq">


                    <div class="panel">

                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Redesygn Systems Partnership is the operator and licensee of
                                www.UrbanUrn.com (“Urban Urn”). Urban Urn can be contacted by e-mail at
                                customercare@UrbanUrn.com . The protection and security of your personal information
                                is one of Redesygn System’s top priorities. This online Privacy Policy discloses
                                Redesygn System’s information practices for Urban Urn and subscriber / membership
                                based Offerings (“Offerings”) including the type of information being collected,
                                method of such information collection, use of such information and sharing of such
                                information with third parties. </p>

                                <p>By using Urban Urn you agree to accept the terms of this Privacy Policy as well
                                    as Urban Urn’s Terms of Use. By accessing or using Urban Urn you expressly consent
                                    to our use and disclosure of your personal information in any manner described in
                                    this Privacy Policy. This Privacy Policy extends to both, users who visit Urban
                                    Urn but do not transact business on Urban Urn (“Users”) as well as users who are
                                    registered and are authorized by Redesygn Systems to transact business on
                                    Urban Urn (“Members”).</p>

                                <p>“Personal Information” refers to any information that identifies or can be used to
                                    identify, contact or locate the person, to whom such information pertains including,
                                    but not limited to, name, address, phone number, fax number, email address,
                                    financial profiles, identification number and credit card information. </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <h3>Please read the following terms of our Privacy Policy</h3>

                        <div class="panel-heading"><p><b>PERSONAL INFORMATION THAT MAY BE COLLECTED</b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Redesygn Systems shall collect and store any information that
                                you may provide on Urban Urn. To enable you to become a member or subscriber of
                                Urban Urn we need to have your basic Personal Information. Apart from this, when you
                                visit our site, our systems collect details about your computer’s personal information
                                like your IP address. Please note that your IP address does not identify you personally.
                                No use or Offerings available on Urban Urn are directed towards children. Urban Urn does
                                not knowingly collect Personal
                                Information from children or sell of its products to children.
                            </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><p><b>USE OF INFORMATION COLLECTED </b></p></div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body"><p>Redesygn Systems owns all the information collected via Urban
                                Urn. As applicable, the information collected by Redesygn Systems shall be used to
                                contact you about Urban Urn and Urban Urn related news and Offerings available on Urban
                                Urn; monitor and improve Urban Urn; calculate the number of visitors to Urban Urn and to
                                know the geographical locations of the visitors; update you on all the special offers
                                available on Urban Urn and provide you with a better shopping experience. </p>

                                <p>Please note that when you place an order, some of your Personal Information will be
                                    passed on to the others who shall need to have access to some Personal Information
                                    like courier companies, credit card processing companies, vendors etc. to enable
                                    them and Urban Urn perform their duties and fulfill your order requirements.</p>

                                <p>Redesygn Systems does not allow any unauthorized persons or organization to use any
                                    information that Urban Urn may collect from you through Urban Urn.</p>

                                <p>In the event Redesygn Systems is required to respond to subpoenas, court orders or
                                    other legal process, your Personal Information may be disclosed pursuant to such
                                    subpoenas, court order or legal process, which may be without notice to you.</p>

                                <p>Cookies are small pieces of information saved by your browser onto your computer.
                                    Cookies are used to record various aspects of your visit and assist us to provide
                                    you with uninterrupted service. Redesygn Systems does not use cookies to save
                                    Personal Information for outside uses.</p>

                                <p>Redesygn Systems may share collective information such as demographics and Urban Urn
                                    usage statistics with our sponsors, advertisers or other third parties (such third
                                    parties do not include Redesygn System’s marketing partners and network providers).
                                    When this type of information is shared, such parties do not have access to your
                                    Personal Information.</p>

                                <p>Urban Urn may contain links which may lead you to other websites. Please note that
                                    once you leave www.Urban Urn.com you will be subjected to the Privacy Policy of the
                                    other website and this Privacy Policy will no longer apply.</p>

                                <p>BY USING URBAN URN(www.Urban Urn.com), YOU SIGNIFY YOUR AGREEMENT TO THE TERMS OF
                                    THIS PRIVACY POLICY, REDESYGN SYSTEMS RESERVES THE RIGHT, IN OUR SOLE DISCRETION, TO
                                    CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY AT ANY
                                    TIME.</p>

                                <p>If you have any questions about this Privacy Policy, please feel free to through
                                    Urban Urn or write to us at customercare@UrbanUrn.com .</p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

