 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- end nav --> 
  <!-- Breadcrumbs -->
  <div class="breadcrumbs bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="#/home">Home</a><span>» </span></li>
            <li class=""> <a title="Go to Home Page" href ng-click="getSkuProducts(selectedProduct.sku_guid)">{{ selectedSku }}</a><span>» </span></li>
            <li class="category13"><strong>{{ selectedProduct.name }}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  <div class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-essential">
              <form method="post" id="product_addtocart_form">
                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                <div class="product-img-box col-sm-4 col-xs-12 bounceInRight animated">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    <div class="large-image"> <a ng-href="{{ selectedProduct.product_images[0].image }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img src="{{ selectedProduct.product_images[0].image }}" alt="{{ selectedProduct.name }}"> </a> </div>
                    <div class="flexslider flexslider-thumb">
                      <ul class="previews-list slides" ng-repeat="image in selectedProduct.product_images">
                        <li><a href='{{ image.image }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/static/angular/assets/images/sample/IMG_1374.jpg' "><img src="{{ image.image }}" alt="{{ selectedProduct.name }}"/></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- end: more-images --> 
                </div>
                <div class="product-shop col-sm-5 col-xs-12 bounceInUp animated">
                  <div class="product-next-prev" ng-hide="true"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                  <div class="product-name">
                    <h1>{{ selectedProduct.name}}</h1>
                  </div>
                  <div class="short-description" ng-hide="true">
                    <!--<h2>Quick Overview</h2>-->
                    <p>{{ selectedProduct.description }}</p>
                  </div>
                  <!--div class="ratings">
                    <div class="rating-box">
                      <div style="width:60%" class="rating"></div>
                    </div>
                    <p class="rating-links"> <a href="#">{{ selectedProduct.reviews_info.length }} Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                  </div-->
                  <p class="availability in-stock pull-right"><span>In Stock</span></p>
                  <div class="price-block">
                    <div class="price-box">
                      <p class="old-price" ng-hide="true"> <span class="price-label">Regular Price:</span> <span class="price"> ₹{{ selectedProduct.price }} </span> </p>
                      <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price"> ₹{{ selectedProduct.price }} </span> </p>
                    </div>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <label for="qty">Qty:</label>
                      <div class="pull-left">
                        <div class="custom pull-left">
                          <button ng-click="negate()" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                          <input type="text" class="input-text qty" title="Qty" ng-model="quantitySelected" maxlength="12" id="qty" name="qty">
                          <button ng-click="add()" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                        </div>
                      </div>
                      <button ng-click="addItemToCart()" class="button btn-cart" title="Add to Cart" type="button"><span><i class="icon-basket"></i> Add to Cart</span></button>
                    </div>
                    <div class="email-addto-box">
                      <ul class="add-to-links">
                        <li> <a class="link-wishlist" href ng-click="addToWishlist(selectedProduct, quantitySelected)"><span>Add to Wishlist</span></a></li>
                        <li><span class="separator">|</span> <a class="link-compare" href="#/compare" ng-hide="true"><span>Add to Compare</span></a></li>
                      </ul>
                      <p class="email-friend"><a href="#" class="" ng-hide="true"><span>Email to a Friend</span></a></p>
                    </div>
                  </div>
                </div>
                <aside class="col-lg-3 col-sm-3 col-xs-12 bounceInLeft animated"> 
                  <div class="product-sibebar-banner">
                    <div class="text-banner"> <a title="Text Banner" href="#"><img src="/static/angular/assets/images/RHS-banner-img.jpg" alt="banner"></a> </div>
                  </div>
                </aside>
              </form>
            </div>
            <div class="product-collateral col-sm-12 col-xs-12 bounceInUp animated">
              <div class="add_info">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a> </li>
                  <li><a href="#product_tabs_tags" data-toggle="tab" ng-hide="true">Tags</a></li>
                  <li> <a href="#reviews_tabs" data-toggle="tab" ng-hide="true">Reviews</a> </li>
                  <li> <a href="#product_tabs_custom" data-toggle="tab" ng-hide="true">Custom Tab</a> </li>
                  <li> <a href="#product_tabs_custom1" data-toggle="tab" ng-hide="true">Custom Tab1</a> </li>
                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="product_tabs_description">
                    <div class="std">
                      <p>{{ selectedProduct.description }}</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="product_tabs_tags" ng-hide="true">
                    <div class="box-collateral box-tags">
                      <div class="tags">
                        <form id="addTagForm" action="#" method="get">
                          <div class="form-add-tags">
                            <label for="productTagName">Add Tags:</label>
                            <div class="input-box">
                              <input class="input-text" name="productTagName" id="productTagName" type="text">
                              <button type="button" title="Add Tags" class=" button btn-add" onClick="submitTagForm()"> <span>Add Tags</span> </button>
                            </div>
                            <!--input-box--> 
                          </div>
                        </form>
                      </div>
                      <!--tags-->
                      <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="reviews_tabs" ng-hide="true">
                    <div class="box-collateral box-reviews" id="customer-reviews">
                      <div class="box-reviews1">
                        <div class="form-add">
                          <form id="review-form" method="post" action="http://www.magikcommerce.com/review/product/post/id/176/">
                            <h3>Write Your Own Review</h3>
                            <fieldset>
                              <h4>How do you rate this product? <em class="required">*</em></h4>
                              <span id="input-message-box"></span>
                              <table id="product-review-table" class="data-table">
                                <thead>
                                  <tr class="first last">
                                    <th>&nbsp;</th>
                                    <th><span class="nobr">1 *</span></th>
                                    <th><span class="nobr">2 *</span></th>
                                    <th><span class="nobr">3 *</span></th>
                                    <th><span class="nobr">4 *</span></th>
                                    <th><span class="nobr">5 *</span></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="first odd">
                                    <th>Price</th>
                                    <td class="value"><input type="radio" class="radio" value="11" id="Price_1" name="ratings[3]"></td>
                                    <td class="value"><input type="radio" class="radio" value="12" id="Price_2" name="ratings[3]"></td>
                                    <td class="value"><input type="radio" class="radio" value="13" id="Price_3" name="ratings[3]"></td>
                                    <td class="value"><input type="radio" class="radio" value="14" id="Price_4" name="ratings[3]"></td>
                                    <td class="value last"><input type="radio" class="radio" value="15" id="Price_5" name="ratings[3]"></td>
                                  </tr>
                                  <tr class="even">
                                    <th>Value</th>
                                    <td class="value"><input type="radio" class="radio" value="6" id="Value_1" name="ratings[2]"></td>
                                    <td class="value"><input type="radio" class="radio" value="7" id="Value_2" name="ratings[2]"></td>
                                    <td class="value"><input type="radio" class="radio" value="8" id="Value_3" name="ratings[2]"></td>
                                    <td class="value"><input type="radio" class="radio" value="9" id="Value_4" name="ratings[2]"></td>
                                    <td class="value last"><input type="radio" class="radio" value="10" id="Value_5" name="ratings[2]"></td>
                                  </tr>
                                  <tr class="last odd">
                                    <th>Quality</th>
                                    <td class="value"><input type="radio" class="radio" value="1" id="Quality_1" name="ratings[1]"></td>
                                    <td class="value"><input type="radio" class="radio" value="2" id="Quality_2" name="ratings[1]"></td>
                                    <td class="value"><input type="radio" class="radio" value="3" id="Quality_3" name="ratings[1]"></td>
                                    <td class="value"><input type="radio" class="radio" value="4" id="Quality_4" name="ratings[1]"></td>
                                    <td class="value last"><input type="radio" class="radio" value="5" id="Quality_5" name="ratings[1]"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <input type="hidden" value="" class="validate-rating" name="validate_rating">
                              <div class="review1">
                                <ul class="form-list">
                                  <li>
                                    <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                    <div class="input-box">
                                      <input type="text" class="input-text" id="nickname_field" name="nickname">
                                    </div>
                                  </li>
                                  <li>
                                    <label class="required" for="summary_field">Summary<em>*</em></label>
                                    <div class="input-box">
                                      <input type="text" class="input-text" id="summary_field" name="title">
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="review2">
                                <ul>
                                  <li>
                                    <label class="required label-wide" for="review_field">Review<em>*</em></label>
                                    <div class="input-box">
                                      <textarea rows="3" cols="5" id="review_field" name="detail"></textarea>
                                    </div>
                                  </li>
                                </ul>
                                <div class="buttons-set">
                                  <button class="button submit" title="Submit Review" type="submit"><span>Submit Review</span></button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      <div class="box-reviews2">
                        <h3>Customer Reviews</h3>
                        <div class="box visible">
                          <ul>
                            <li>
                              <table class="ratings-table">
                                <tbody>
                                  <tr>
                                    <th>Value</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Quality</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Price</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="review">
                                <h6><a href="#">Excellent</a></h6>
                                <small>Review by <span>Leslie Prichard </span>on 1/3/2014 </small>
                                <div class="review-txt"> I have purchased shirts from Minimalism a few times and am never disappointed. The quality is excellent and the shipping is amazing. It seems like it's at your front door the minute you get off your pc. I have received my purchases within two days - amazing.</div>
                              </div>
                            </li>
                            <li class="even">
                              <table class="ratings-table">
                                <tbody>
                                  <tr>
                                    <th>Value</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Quality</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Price</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:80%;"></div>
                                      </div></td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="review">
                                <h6><a href="#/catalog/product/view/id/60/">Amazing</a></h6>
                                <small>Review by <span>Sandra Parker</span>on 1/3/2014 </small>
                                <div class="review-txt"> Minimalism is the online ! </div>
                              </div>
                            </li>
                            <li>
                              <table class="ratings-table">
                                <tbody>
                                  <tr>
                                    <th>Value</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Quality</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:100%;"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Price</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:80%;"></div>
                                      </div></td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="review">
                                <h6><a href="#/catalog/product/view/id/59/">Nicely</a></h6>
                                <small>Review by <span>Anthony  Lewis</span>on 1/3/2014 </small>
                                <div class="review-txt"> Unbeatable service and selection. This store has the best business model I have seen on the net. They are true to their word, and go the extra mile for their customers. I felt like a purchasing partner more than a customer. You have a lifetime client in me. </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="actions"> <a class="button view-all" id="revies-button" href="#"><span><span>View all</span></span></a> </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="product_tabs_custom">
                    <div class="product-tabs-content-inner clearfix">
                      <p><strong>Lorem Ipsum</strong><span>&nbsp;is
                        simply sample text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard sample text ever since the 1500s, when 
                        an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the 
                        leap into electronic typesetting, remaining essentially unchanged. It 
                        was popularised in the 1960s with the release of Letraset sheets 
                        containing Lorem Ipsum passages, and more recently with desktop 
                        publishing software like Aldus PageMaker including versions of Lorem 
                        Ipsum.</span></p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="product_tabs_custom1">
                    <div class="product-tabs-content-inner clearfix">
                      <p> <strong> Comfortable </strong><span>&nbsp;preshrunk shirts. Highest Quality Printing.  6.1 oz. 100% preshrunk heavyweight cotton Shoulder-to-shoulder taping Double-needle sleeves and bottom hem     
                        
                        Lorem Ipsumis
                        simply sample text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard sample text ever since the 1500s, when 
                        an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the 
                        leap into electronic typesetting, remaining essentially unchanged. It 
                        was popularised in the 1960s with the release of Letraset sheets 
                        containing Lorem Ipsum passages, and more recently with desktop 
                        publishing software like Aldus PageMaker including versions of Lorem 
                        Ipsum.</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--div class="related-slider col-lg-12 col-xs-12 bounceInDown animated">
              <div class="slider-items-products">
                <div class="slider-items-products">
                  <div class="new_title center">
                    <h2>Related Products</h2>
                  </div>
                  <div id="related-products-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid" common-slider item-count="4">
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a>
                              <div class="sale-label sale-top-left">sale</div>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:80%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span class="regular-price"> <span class="price">₹125.00</span> </span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:30%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box">
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹567.00 </span> </p>
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹456.00 </span> </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:100%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box">
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹100.00 </span> </p>
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-27" class="price"> ₹90.00 </span> </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a>
                              <div class="new-label new-top-left">new</div>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:80%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span class="regular-price"> <span class="price">₹125.00</span> </span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:30%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box">
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹567.00 </span> </p>
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹456.00 </span> </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                            <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                              <div class="item-box-hover">
                                <div class="box-inner">
                                  <div class="actions">
                                    <div class="add_cart">
                                      <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                    <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                                    <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <div class="ratings">
                                    <div class="rating-box">
                                      <div style="width:100%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                  </div>
                                </div>
                                <div class="item-price">
                                  <div class="price-box">
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹100.00 </span> </p>
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹90.00 </span> </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div-->
  <!-- Main Container End --> 
  
  <!-- Upsell Product Slider -->
  <!--section class="upsell-pro bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div class="new_title center">
          <h2>Upsell Products</h2>
        </div>
        <div id="upsell-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 products-grid"  common-slider item-count="4">
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a>
                    <div class="sale-label sale-top-left">sale</div>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:80%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box"> <span class="regular-price"> <span class="price">₹125.00</span> </span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:30%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹567.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹456.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:100%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹100.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹90.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a>
                    <div class="new-label new-top-left">new</div>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:80%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box"> <span class="regular-price"> <span class="price">₹125.00</span> </span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:30%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹567.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹456.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"> <a class="product-image" title="Sample Product" href="#/product_detail"> <img alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"></a>
                    <div class="item-box-hover">
                      <div class="box-inner">
                        <div class="actions">
                          <div class="add_cart">
                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                          </div>
                          <div class="product-detail-bnt"><a class="button detail-bnt" href="#/quick_view"><span>Quick View</span></a></div>
                          <span class="add-to-links"><a href="#/wishlist" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#/compare" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Sample Product" href="#/product_detail"> Sample Product </a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:100%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> ₹100.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ₹90.00 </span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->
