<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>Return Policy</h2>
                </div>
                <div class="panel-group accordion-faq">
                    <ul type="disc">
                        <li><p>Unfortunately, no direct provision exists for order Cancellation once it is confirmed.
                            You can
                            reach out to us at "support@urbanurn.com" with the grievance and our staff will get in touch
                            with
                            you to ease the process if the replacement case is genuinely considerable. The fact that
                            each and
                            every Urban Urn product is 100% hand crafted assures authenticity of the art form but the
                            colours
                            might vary marginally owing to the hand work and hence the product might not be exactly the
                            same
                            as in its pictures. However, we try and ensure more than a 99% similarity.</p></li>
                        <li>Refunds vary under different circumstances. Please reach out to support@urbanurn.com
                            with your grievance and our staff will get back to you.
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>

