<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>Where is my order?</h2>
                </div>
                <ul style="list-style-type:disc">
                    <li><p>You can review the status and other information of all your orders, whether pending or
                        fulfilled, that you have placed with Urban Urn. To check the status of your pending orders,
                        click on the “Sign In” link in the top right of any page on our website and Sign In to your
                        account. This will take you to your Urban Urn account, where you can click on the "Orders" link
                        to view the list of all your orders. </p></li>
                    <li><p>To view the status of a specific order, navigate to the order and check its status.</p></li>
                    <li>Below are the different order statuses :
                        <ul style="list-style-type:square; margin-left: 30px;">
                            <li><b>Confirmed</b>: We have received authorization from the payment gateway and are
                                processing your order. Your order has been shipped/ is shipping out and is on its way to
                                your delivery location.
                            </li>
                            <li><b>Delivered</b>: Your order has been delivered at your specified delivery location.
                            </li>
                            <li><b>Cancelled</b>: The order was cancelled.</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

