 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- end nav --> 
<!-- Main Container -->
<section class="main-container col2-right-layout wow bounceInUp animated" style="visibility: visible; padding-bottom: 28px">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9">
        <div class="my-account">
          <div class="page-title">
            <h2>My Wishlist</h2>
          </div>
          <div class="my-wishlist">
            <div class="table-responsive" ng-show="wishlistData.length > 0">
              <form method="post" id="wishlist-view-form">
                <fieldset>
                  <input type="hidden" value="ROBdJO5tIbODPZHZ" name="form_key">
                  <table id="wishlist-table" class="clean-table linearize-table data-table">
                    <thead>
                      <tr class="first last">
                        <th class="customer-wishlist-item-image"></th>
                        <th class="customer-wishlist-item-info">Product</th>
                        <th class="customer-wishlist-item-quantity">Quantity</th>
                        <th class="customer-wishlist-item-price">Price</th>
                        <th class="customer-wishlist-item-cart"></th>
                        <th class="customer-wishlist-item-remove"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="item_31" class="first odd" ng-repeat="wishlist in wishlistData">
                        <td class="wishlist-cell0 customer-wishlist-item-image"><a title="{{ wishlist.product_name }}" href class="product-image"> <img width="150" height="150" alt="{{ wishlist.product_name }}" src="{{ wishlist.product_images[0].image }}"> </a></td>
                        <td class="wishlist-cell1 customer-wishlist-item-info"><h3 class="product-name"><a title="{{ wishlist.product_name }}" href>{{ wishlist.product_name }}</a></h3>
                          <div class="description std">
                            <div class="inner">{{ wishlist.product_description }}</div>
                          </div>
                    <!--   <textarea title="Comment" onblur="focusComment(this)" onfocus="focusComment(this)" cols="5" rows="3" name="description[31]" style="height: 120px; width: 96%;"></textarea></td> -->
                        <td data-rwd-label="Quantity" class="wishlist-cell2 customer-wishlist-item-quantity"><div class="cart-cell">
                            <div class="add-to-cart-alt">
                              <input type="text" value="{{ wishlist.product_data.quantity }}" name="qty[31]" class="input-text qty validate-not-negative-number" pattern="\d*" disabled="true">
                            </div>
                          </div></td>
                        <td data-rwd-label="Price" class="wishlist-cell3 customer-wishlist-item-price"><div class="cart-cell">
                            <div class="price-box"> <span class="regular-price"> <span class="price">{{ wishlist.product_price }}</span> </span> </div>
                          </div></td>
                        <td class="wishlist-cell4 customer-wishlist-item-cart"><div class="cart-cell">
                            <button class="button btn-cart" title="Add to Cart" type="button" ng-click="addItemToCart(wishlist.wishlist_guid)"><span><span>Add to Cart</span></span></button>
                          </div>
                          <!--p><a href="#" class="">Edit</a></p--></td>
                        <td class="wishlist-cell5 customer-wishlist-item-remove last"><a class="remove-item" title="Delete Item" href="" ng-click="deleteWishlist(wishlist.wishlist_guid)"><span><span></span></span></a></td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="buttons-set buttons-set2">
                  <!--  <button class="button btn-share" title="Share Wishlist" name="save_and_share" type="submit"><span>Share Wishlist</span></button> -->
                    <button class="button btn-add" title="Add All to Cart" type="button" ng-click="addItemsToCart()"><span>Add All to Cart</span></button>
                  <!--  <button class="button btn-update" title="Update Wishlist" name="do" type="submit"><span>Update Wishlist</span></button> -->
                  </div>
                </fieldset>
              </form>
            </div>
              <div ng-show="wishlistData.length == 0">
                  <p>Sorry, currently there are no products in your wishlist. Browse the products to add !!</p>
              </div>
          </div>
         <!-- <div class="buttons-set">
            <p class="back-link"><a href="#"><small>« </small>Back</a></p>
          </div> -->
        </div>
      </div>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-account">
          <div class="block-title">My Account</div>
          <div class="block-content">
            <ul>
              <li><a ng-click="loadRoute('/dashboard')">Account Dashboard</a></li>
              <li><a href ng-click="goToDashboard(1)">Account Information</a></li>
              <li><a href ng-click="goToDashboard(2)">Address Book</a></li>
              <li><a href ng-click="goToDashboard(3)">My Orders</a></li>
              <!-- li><a href>Billing Agreements</a></li>
              <li><a href>Recurring Profiles</a></li>
              <li><a href>My Product Reviews</a></li>
              <li><a href>My Tags</a></li -->
              <li class="current"><a href="#/wishlist" >My Wishlist</a></li>
              <!-- li><a href="#">My Downloadable</a></li>
              <li class="last"><a href="#">Newsletter Subscriptions</a></li -->
            </ul>
          </div>
        </div>
        <!--div class="block block-compare">
          <div class="block-title ">Compare Products (2)</div>
          <div class="block-content">
            <ol id="compare-items">
              <li class="item odd">
                <input type="hidden" value="2173" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Polyester Wrapped Cushions</a> </li>
              <li class="item last even">
                <input type="hidden" value="2174" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> </li>
            </ol>
            <div class="ajax-checkout">
              <button type="submit" title="Submit" class="button button-compare"><span>Compare</span></button>
              <button type="submit" title="Submit" class="button button-clear"><span>Clear</span></button>
            </div>
          </div>
        </div-->
        </aside>
    </div>
  </div>
</section>
<!-- Main Container End -->