 <div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
  </div>
  <!-- end nav --> 
<!-- Main Container -->
<section class="main-container col2-right-layout wow bounceInUp animated" style="visibility: visible; padding-bottom: 28px">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9">
        <div class="my-account">
          <div class="page-title">
            <h2>My Wishlist</h2>
          </div>
          <div class="my-wishlist">
            <div class="table-responsive">
              <form method="post" action="#" id="wishlist-view-form">
                <fieldset>
                  <input type="hidden" value="ROBdJO5tIbODPZHZ" name="form_key">
                  <table id="wishlist-table" class="clean-table linearize-table data-table">
                    <thead>
                      <tr class="first last">
                        <th class="customer-wishlist-item-image"></th>
                        <th class="customer-wishlist-item-info"></th>
                        <th class="customer-wishlist-item-quantity">Quantity</th>
                        <th class="customer-wishlist-item-price">Price</th>
                        <th class="customer-wishlist-item-cart">Action</th>
                        <th class="customer-wishlist-item-remove"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="item_31" class="first odd">
                        <td class="wishlist-cell0 customer-wishlist-item-image"><a title="Sample Product" href="#" class="product-image"> <img width="150" height="150" alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a></td>
                        <td class="wishlist-cell1 customer-wishlist-item-info"><h3 class="product-name"><a title="Sample Product" href="#/product_detail">Sample Product</a></h3>
                          <div class="description std">
                            <div class="inner">A Black Multi-Coloured Printed Leggings for Women from Softwear.</div>
                          </div>
                          <textarea title="Comment" onblur="focusComment(this)" onfocus="focusComment(this)" cols="5" rows="3" name="description[31]" style="height: 120px; width: 96%;"></textarea></td>
                        <td data-rwd-label="Quantity" class="wishlist-cell2 customer-wishlist-item-quantity"><div class="cart-cell">
                            <div class="add-to-cart-alt">
                              <input type="text" value="1" name="qty[31]" class="input-text qty validate-not-negative-number" pattern="\d*">
                            </div>
                          </div></td>
                        <td data-rwd-label="Price" class="wishlist-cell3 customer-wishlist-item-price"><div class="cart-cell">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                          </div></td>
                        <td class="wishlist-cell4 customer-wishlist-item-cart"><div class="cart-cell">
                            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
                          </div>
                          <p><a href="#" class="">Edit</a></p></td>
                        <td class="wishlist-cell5 customer-wishlist-item-remove last"><a class="remove-item" title="Clear Cart" href="#"><span><span></span></span></a></td>
                      </tr>
                      <tr id="item_33" class="odd">
                        <td class="wishlist-cell0 customer-wishlist-item-image"><a title="Sample Product" href="#" class="product-image"> <img width="150" height="150" alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a></td>
                        <td class="wishlist-cell1 customer-wishlist-item-info"><h3 class="product-name"><a title="Sample Product" href="#/">Sample Product</a></h3>
                          <div class="description std">
                            <div class="inner">A Black Multi-Coloured Printed Leggings for Women from Softwear.</div>
                          </div>
                          <textarea title="Comment" onblur="focusComment(this)" onfocus="focusComment(this)" cols="5" rows="3" name="description[31]" style="height: 120px; width: 96%;"></textarea></td>
                        <td data-rwd-label="Quantity" class="wishlist-cell2 customer-wishlist-item-quantity"><div class="cart-cell">
                            <div class="add-to-cart-alt">
                              <input type="text" value="1" name="qty[31]" class="input-text qty validate-not-negative-number" pattern="\d*">
                            </div>
                          </div></td>
                        <td data-rwd-label="Price" class="wishlist-cell3 customer-wishlist-item-price"><div class="cart-cell">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                          </div></td>
                        <td class="wishlist-cell4 customer-wishlist-item-cart"><div class="cart-cell">
                            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
                          </div>
                          <p><a href="#" class="">Edit</a></p></td>
                        <td class="wishlist-cell5 customer-wishlist-item-remove last"><a class="remove-item" title="Clear Cart" href="#"><span><span></span></span></a></td>
                      </tr>
                      <tr id="item_32" class="last even">
                        <td class="wishlist-cell0 customer-wishlist-item-image"><a title="Sample Product" href="#" class="product-image"> <img width="150" height="150" alt="Sample Product" src="/static/angular/assets/images/sample_product.jpg"> </a></td>
                        <td class="wishlist-cell1 customer-wishlist-item-info"><h3 class="product-name"><a title="Sample Product" href="#/product_detail">Sample Product</a></h3>
                          <div class="description std">
                            <div class="inner">Blue colour self design casual shirt.</div>
                          </div>
                          <textarea title="Comment" onblur="focusComment(this)" onfocus="focusComment(this)" cols="5" rows="3" name="description[32]" style="height: 120px; width: 96%;"></textarea></td>
                        <td data-rwd-label="Quantity" class="wishlist-cell2 customer-wishlist-item-quantity"><div class="cart-cell">
                            <div class="add-to-cart-alt">
                              <input type="text" value="1" name="qty[32]" class="input-text qty validate-not-negative-number" pattern="\d*">
                            </div>
                          </div></td>
                        <td data-rwd-label="Price" class="wishlist-cell3 customer-wishlist-item-price"><div class="cart-cell">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$55.00</span> </span> </div>
                          </div></td>
                        <td class="wishlist-cell4 customer-wishlist-item-cart"><div class="cart-cell">
                            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
                          </div>
                          <p><a href="#" class="">Edit</a></p></td>
                        <td class="wishlist-cell5 customer-wishlist-item-remove last"><a class="remove-item" title="Clear Cart" href="#"><span><span></span></span></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="buttons-set buttons-set2">
                    <button class="button btn-share" title="Share Wishlist" name="save_and_share" type="submit"><span>Share Wishlist</span></button>
                    <button class="button btn-add" title="Add All to Cart" type="button"><span>Add All to Cart</span></button>
                    <button class="button btn-update" title="Update Wishlist" name="do" type="submit"><span>Update Wishlist</span></button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="buttons-set">
            <p class="back-link"><a href="#"><small>« </small>Back</a></p>
          </div>
        </div>
      </div>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-account">
          <div class="block-title">My Account</div>
          <div class="block-content">
            <ul>
              <li><a href="#/dashboard">Account Dashboard</a></li>
              <li><a href="#">Account Information</a></li>
              <li><a href="#">Address Book</a></li>
              <li><a href="#">My Orders</a></li>
              <li><a href="#">Billing Agreements</a></li>
              <li><a href="#">Recurring Profiles</a></li>
              <li><a href="#">My Product Reviews</a></li>
              <li><a href="#">My Tags</a></li>
              <li class="current"><a>My Wishlist</a></li>
              <li><a href="#">My Downloadable</a></li>
              <li class="last"><a href="#">Newsletter Subscriptions</a></li>
            </ul>
          </div>
        </div>
        <div class="block block-compare">
          <div class="block-title ">Compare Products (2)</div>
          <div class="block-content">
            <ol id="compare-items">
              <li class="item odd">
                <input type="hidden" value="2173" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Polyester Wrapped Cushions</a> </li>
              <li class="item last even">
                <input type="hidden" value="2174" class="compare-item-id">
                <a class="btn-remove1" title="Remove This Item" href="#"></a> <a href="#" class="product-name"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> </li>
            </ol>
            <div class="ajax-checkout">
              <button type="submit" title="Submit" class="button button-compare"><span>Compare</span></button>
              <button type="submit" title="Submit" class="button button-clear"><span>Clear</span></button>
            </div>
          </div>
        </div>
        </aside>
    </div>
  </div>
</section>
<!-- Main Container End -->
  <div class="top-banner-section wow bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12">
          <div class="col add-banner1">
          <div class="top-b-text"><strong>Designer Shoes</strong> For Women</div></div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
          <div class="col free-shipping"><strong>Free Shipping</strong> on order over $199</div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="col add-banner2">
          <div class="top-b-text"><strong>Luxury Handbags</strong>2015 New Arrive</div>
          </div>
                  
          
          
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
          <div class="col last offer"><strong>New Collection</strong> Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
      </div>
    </div>
  </div>
 <!-- end banner section -->
  <div class="brand-logo">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6" common-slider item-count="6">
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="/static/angular/assets/images/b-logo1.png" alt="Image"></a> </div>
            <!-- End Item --> 
            
          </div>
        </div>
      </div>
    </div>
  </div>